{% extends 'base.html' %}
{% load static %}
{% block 'main' %}




  <!--------------------------- MainContent start ------------------------------------->
  <main class="create-room layout">
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            
            <h3 >Create Study Room</h3>
          </div>
        </div>
        <div class="layout__body">
          <!-- <form class="form" action="#" method="POST">
            {% csrf_token %}
            <div class="form__group">
              <label for="room_name">Room Name</label>
              <input class="time hov2" id="room_name" name="topic" type="text" placeholder="E.g. Mastering Python" />
            </div>

            <div class="form__group ">
              <label for="room_topic">Topic</label>
              <input class="time hov2" required type="text" name="name" id="room_topic" list="topic-list" />
             

            </div>
            <div class="form__group">
              <label for="room_about">About</label>
              <textarea class="time hov2" name="description" id="room_about" placeholder="Write about your study group..."></textarea>
            </div>
            <div class="form__action">
              <a class="btn btn--dark" href="/home">Cancel</a>
              <button class="btn btn--main" type="submit">Create Room</button>
            </div>
          </form> -->


          <div>
            <form method="POST" action="">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Submit" />
            </form>
        </div>








          
          
          


        </div>
      </div>
    </div>
  </main>

{% endblock 'main' %}


 



    
