
    <!--------------------------- Footer start -------------------------------->

    <footer class="footer" style="    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--color-success);" >
      <div class="footer-text" style="margin: auto; color: black;">
          <p>Copyright &copy; 2024 by Rushikesh Yadav | All Rights Reserved. |
            <a href="#"><i class="fa-brands fa-square-instagram time hov1" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin time hov1" style="color: #000205;"></i></a>
            <a href="#"><i class="fa-brands fa-github time hov1" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-brands fa-facebook time hov1" style="color: #000000;"></i></a>
        </p>
      </div>
    </footer>
    <!--------------------------- Footer end -------------------------------->
    
      </main>
       <script src="./app.js"></script>
       <script src="https://unpkg.com/scrollreveal"></script>
      </body>
    </html>
    