{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <title>ProgramPal-Code together chat forever</title>
  </head>
  <body style="overflow: hidden;">
    <div style="display: flex; margin-top: 4rem; ">
      <img style="height: 10rem; width: 20rem; margin: auto;" src="{% static 'images/logo11.png' %}" alt="logo">
    </div>

    <div>
        <div>

          <main class="auth layout">
            <div class="container">
              <div class="layout__box" style="margin-top: 2rem;">
                <div class="layout__boxHeader">
                  <div class="layout__boxTitle">
                    <h3>Login</h3>
                  </div>
                </div>
                <div class="layout__body">
                  <h2 class="auth__tagline">Code together chat forever</h2>
                  <div class="container box shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 4%;">
                    <div class="col-md-4 mx-auto mt-5 p-3 shadow" style="margin-top: 5rem; padding: 1.5rem; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);">
                      {% if errmsg %}
                        <div style="color: #721c24; background-color: #f8d7da; border-color: #f5c6cb;" role="alert">
                          {{errmsg}}
                        </div>
                      {% endif %}
                    </div>

                  <form class="form" method="post">
                    {% csrf_token %}
                    
                    <div class="form__group form__group">
                      <label for="room_name">Username</label>
                      <input type="text" id="username" name="uname"  placeholder="eg. Rushikesh yadav" />
                    </div>
                    <div class="form__group">
                      <label for="upass">Password</label>
                      <input
                        id="password"
                        name="upass"
                        type="password" class="time hov2" 
                        placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                      />
                    </div>

                    <a href="/index">
                      <button type="submit" class="btn btn--main">
                        Login
                      </button>
                    </a>
                  </form>
                  <div class="auth__action">
                    <p>Haven't signed up yet?</p>
                    <a href="/signup" class="btn btn--link">Sign Up</a>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
    </div>
   <script src="app.js"></script>
  </body>
</html>


