{% extends 'base.html' %}
{% load static %}
{% block 'main' %}


<div  style=" height: 65rem; background-color: var(--color-dark-medium); margin: 1rem; margin-top: 1rem; border-radius: 5px; display: flex; justify-content: center; flex-direction: column; align-items: center; "  >
    
   
   <div>
    <h1 style="font-size: 4.4rem; line-height: 1.1; ">Thank you........</h1>
 
   </div>


  <div>
    <a style="margin-top: 3rem;" href="/home"><button  class="btn btn--main">Home</button></a>
 </div>

  
    
 </div>
 



{% endblock 'main' %}