{% extends 'base.html' %}
{% load static %}
{% block 'main' %}


  
<a href="./index.html">
  <button class="btn" style="margin-top: 1rem; margin-left: 1rem; background-color: green; margin-bottom: 0rem;"><i class="fa-solid fa-arrow-left" style="color: #020202;"></i></button>
</a>
<!-------------------------------- left content start ------------------------------------------------------->

  <main class="profile-page layout layout--3" style="margin-bottom: 8.5rem;">
    <div class="container">
      <!-- Topics Start -->
      <div class="topics" >
        <div class="topics__header time hov1">
          <a href="./topics.html"><h2>Browse Topics</h2></a>
        </div>
        <ul class="topics__list ">
          <!-- <li>
            <a href="/home" class="active time hov1">All <span>{{room_count}}</span></a>
          </li> -->
            {% for i in topics %}
            <li>
              <a href="/home/?q={{i.name}}" class="time hov1" >{{i.name}} <span>{{i.room_set.all.count}}</span></a>
            </li>
            {% endfor %}
         
      </div>
      <!-------------------------------- left content start ------------------------------------------------------->
      
      <!------------------------------------------ Profile section start  --------------------------------------------->
      <div class="roomList">
        <div class="profile">
          
          <div class="profile__info">
            <!-- <h3>Rushikesh Yadav</h3> -->
            <p style="font-size: 4rem;">@{{user}}</p>
            <!-- {% if request.user == user %}
            <a href="/updateUser" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %} -->
          </div>
          <div class="profile__about">
            <!-- <h3>About</h3> -->
            <!-- <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo tenetur
              facilis sunt nemo debitis quisquam hic atque aut? Ducimus alias placeat optio
              accusamus repudiandae quis ab ex exercitationem rem?
            </p> -->
          </div>
        </div>
        <!------------------------------------------ Profile section end  --------------------------------------------->



        <div class="roomList__header">
          <div>
            <h2>Study Rooms Hosted by {{user}}</a>
            </h2>
          </div>
        </div>

        {% for i in rooms %}
        <div class="roomListRoom time hov2" style="width: 65rem;">
          <div class="roomListRoom__header">
            <a href="./mypic.png" class="roomListRoom__author">
              <div class="avatar avatar--small active time hov1">
                <img  src="./mypic.png" />
              </div>
              <span>@{{i.host}}</span>
            </a>
            <div class="roomListRoom__actions">
              <span>{{i.created|timesince}}  ago</span>

            </div>
          </div>
          <div class="roomListRoom__content">
            <a href="/room/{{i.id}}"><p style="color: aqua;">{{i.name}}</p></a>
            <p>
              {{i.description}}
            </p>
            {% if user.is_authenticated %}
 
                <a href="/room/{{i.id}}"><p class="roomListRoom__topic time hov1" style="background-color: rgb(98, 167, 71); margin-top: 1rem;">Chat</p></a>
              {% else %}
                <a href="./room.html"><p class="roomListRoom__topic time hov1" style=" display: none; background-color: rgb(167, 71, 71);">Delete</p></a>
              {% endif %}
          </div>
          <div class="roomListRoom__meta">
            <a class="roomListRoom__joined">
              {{i.participants.all.count}} Joined
            </a>
            <p class="roomListRoom__topic time hov1">Python</p>
          </div>
        </div>
        {% endfor %}
        
      </div>
      <!-- Room List End -->





      <!-- Activities Start -->
      <div class="activities">
        <div class="activities__header">
          <h2>Recent Activities</h2>
        </div>
        {% for message in room_messages %}
          <div class="activities__box time hov2">
            <div class="activities__boxHeader roomListRoom__header">
              <a href="profile.html" class="roomListRoom__author">
                <div class="avatar avatar--small">
                  <img class="time hov1" src='https://images.unsplash.com/photo-1453396450673-3fe83d2db2c4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aW5kaWFuJTIwbWVuJTIwaW4lMjBmb3JtYWx8ZW58MHx8MHx8fDA%3D' />
                </div>
                <p>
                  @{{message.user}}
                  <span>{{message.created|timesince}} ago</span>
                </p>
              </a>
              <div class="roomListRoom__actions">
                
              </div>
            </div>
            <div class="activities__boxContent ">
              <p>replied to post “<a href="room.html">{{message.room}}</a>”</p>
              <div class="activities__boxRoomContent ">
                {{message.body}}
                
              </div>
            </div>
          </div>
          {% endfor %}

        
      </div>
      <!-- Activities End -->
    </div>

{% endblock 'main' %}